.cvs-body-01{
    --cvs-body-01-width:66%;
    width: var(--cvs-body-01-width);
    flex: 0 0 var(--cvs-body-01-width);
    display: flex;
    margin: 5px;
    margin-top: 0px;
    margin-left: 10px;
    
}
.cvs-body-01-line{
    width: 5px;
    height: 100%;
    background-color: var(--tcv-current-color-01-bg);
}
.cvs-body-01-container{
    padding: 16px;
    margin-top: 16px;
    width: 100%;
}
.cvs-body-01-container  span.cvs-label-before {
    display: block;
    align-items: center;
    margin-left: -16px;
    margin-right: 15px;
    width: 10px;
    align-self: center;
    
}
.cvs-body-01-container  span.cvs-label-before >span{
    width: 16px;
    height: 3px;
    background-color: var(--tcv-current-color-01-bg);
    display: block;
    align-self: center;

}
